*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
#logo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 10px;
}
#nav-bar{
    position: static;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right ,#a517ba,#5f1782);
    padding:0 !important;
}
.dropdown-item{
    background-color:#5f1782;
  }
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
   color: #fff !important;
   font-weight: 600;
}
.navbar-nav li:hover{
    background-color: red;
}
#carouselExampleControls img
{
    /* position: absolute; */
   height:500px;
   z-index: -1;
   opacity:0.8;
}
.line{
    position: absolute;
    z-index: 1;
    opacity:1;
     top:0px;
   font-weight: 600;
   font-size:20px;
   color:#ff6600;
  margin-left:35rem;
   margin-top:10rem;
   text-align:start; 
   width:500px;
  
}
.footer .container-fluid{
    margin: 0px;
    padding: 0px;
    z-index: 1;
    top: 0px;  
}
.footer img{
    width: 100%;
   position: absolute;
   height:700px;
   z-index: -1;
 
}
